body {
  position: relative;
  top: 80px;
  width: 70vh;

  margin-left: auto;
  margin-right: auto;
  background-color: #84d2c5;
}

.clock-face {
  height: 400px;
  width: 400px;
  border: 2px dotted black;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
}

.hrs {
  height: 200px;
  width: 10px;
  background-color: #c27664;
  border-radius: 20%;
  position: absolute;
  top: 0px;
  left: 195px;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: bottom;
}

.min {
  height: 200px;
  width: 6px;
  background-color: #e4c988;
  border-radius: 20%;
  position: absolute;
  top: 0px;
  left: 197px;
  z-index: 2;
  transform: rotate(0deg);
  transform-origin: bottom;
}

.sec {
  height: 200px;
  width: 2px;
  background-color: #b05a7a;
  border-radius: 20%;
  position: absolute;
  top: 0px;
  left: 199px;
  z-index: 3;
  transform: rotate(0deg);
  transform-origin: bottom;
  transition: all 1s linear;
}

.ball {
  width: 30px;
  height: 30px;
  background-color: teal;
  position: absolute;
  top: 185px;
  left: 185px;
  border: 2px solid teal;
  border-radius: 50%;
  z-index: 4;
}

img {
  height: 400px;
  width: 400px;
}
h1 {
  position: absolute;
  top: -80px;
  left: 170px;
}
